@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body.pop {
    font-family: 'Fira Sans', sans-serif;
    --accent: #48b9c7;
    --accent-overlay: #48b9c7;
    --navbar-accent: #f9f5d7;
    --background: #1d2021;
    --body-background: #282828;
    --background-darker: var(--body-background);
    --current-background: var(--body-background);
    --navbar-background: #32302f;
    --navbar-active-background: #282828;

    --gradient-body-background: linear-gradient(
        90deg, 
        var(--background-darker) -32px,
        var(--body-background) 64px,
        var(--body-background) 100%
    );

    --input-background: #32302f;
    --modal-background: var(--body-background);
    --modal-border: var(--body-background);

    --success: #48b8c7a8;
    --success-hover: #48b8c7;
    --primary: #458588;
    --primary-hover: #83a598;
    --danger: #cc241d;
    --danger-hover: #fb4934;

    --anticheat-denied: #9d0006;
    --anticheat-broken: #af3a03;
    --anticheat-running: #076678;
    --anticheat-supported: #79740e;
    --anticheat-planned: #8f3f71;

    --text-title: #f9f5d7;
    --icons-background: #3c3836;
    --action-icon: #f9f5d7;
    --action-icon-hover: #b16286;
    --action-icon-active: #8ec07c;
    --icon-disabled: #928374;
}
