/*
thank you adwaita <333

https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/gtk-contained-dark.css
*/

body.adwaita {
    /*
    * custom variables to be more expressive about what the colors actually set.
    * (not that heroic folks did a bad job naming these!)
    */
    --text: #BFC3C4;
    --custom-accent: #15539E;
    --custom-accent-hover: #225a9e; 
    --background: #232323;
    --secondary-background: #353535;

    --button-background: #2d2d2d;
    --button-text: white;

    --box-shadow-color: #1b1b1b;
    --secondary-box-shadow-color: #202020;
    --tertiary-box-shadow-color: #5a5a59;

    --box-shadow: 0 0 0 1px var(--box-shadow-color); 
    --secondary-box-shadow: var(--box-shadow-color);

    --border-radius: var(--space-xs);


    --accent: var(--text);
    /*The text in the navbar, of the selected element*/
    --accent-overlay: #fefefe;
    /*The text in the navbar, which isn't selected*/
    --navbar-accent: var(--text);
    
    /*the color of the divider*/
    --divider: var(--secondary-box-shadow-color);

    --body-background: var(--background);
    --background-darker: var(--background);
    --current-background: var(--background);
    --navbar-background: var(--secondary-background);
    --navbar-active-background: var(--custom-accent);
    --gradient-body-background: var(--background);
    --input-background: var(--secondary-background);
    --modal-background: var(--background);
    --modal-border: var(--box-shadow-color);
    --download-button: #44475a;
    --download-button-overlay: #007bff;
    --success: var(--custom-accent);
    --success-hover: var(--custom-accent-hover);
    --primary: var(--custom-accent);
    --primary-hover: var(--custom-accent-hover);
    --danger: #ff0000;
    --text-title: #00ddff;
    --icons-background: var(--secondary-background);
    --osk-background: var(--background);
    --osk-button-background: var(--secondary-background);
    --osk-button-border: #ffffffff;
  }

body.adwaita .Field>input, 
body.adwaita select, 
body.adwaita .gameCard, 
body.adwaita .gameCard>span,
body.adwaita .SearchBar,
body.adwaita .progressHeader,
body.adwaita .dmItemList
{
  box-shadow: var(--box-shadow) !important;
}

body.adwaita .store-icon {
  background: none;
}

body.adwaita .Sidebar {
  box-shadow: 1px 0 0 0 var(--box-shadow-color);
}

body.adwaita .divider {
  height: 1px;
  margin: var(--space-3xs) 0 !important;
}

body.adwaita .dmItemList {
  border: none;
}

body.adwaita .downloadManagerListItem {
  border-top: none !important;
  box-shadow: 0 -1px 0 0 var(--tertiary-box-shadow-color);

  margin: 0;
  padding: var(--space-md) var(--space-sm-fixed);
}

body.adwaita .numberOfgames {
  background: none;
}

body.adwaita .SearchBar,
body.adwaita .gameCard,
body.adwaita .Field>input, 
body.adwaita select, 
body.adwaita .progressHeader,
body.adwaita .dmItemList,
body.adwaita .svg-button
{
  border-radius: var(--border-radius);
}

body.adwaita .ActionIcons {
  background: var(--button-background);
  color: var(--button-text);
  box-shadow: var(--box-shadow);
  
  border-radius: var(--border-radius);
  height: 100%;
}

body.adwaita .ActionIcons .FormControl {
  height: 100%;
}

body.adwaita .ActionIcons .FormControl .FormControl__button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

body.adwaita .ActionIcons .FormControl .FormControl__button:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

body.adwaita .ActionIcons .FormControl__button:hover {
  background: var(--secondary-background);
}

body.adwaita .ActionIcons .FormControl__button>svg{
  margin: auto;
}

body.adwaita .toggle,
body.adwaita .gameConfigContainer .titleWrapper .settings-icon {
  color: var(--button-text) !important;
  background: var(--button-background) !important;
}

body.adwaita *:not(.submenu)>.button,
body.adwaita .sideloadGameButton,
body.adwaita .titleWrapper .svg-button, 
body.adwaita .game-actions  {
  background: var(--button-background);
  color: var(--button-text);
  box-shadow: var(--box-shadow);
  
  border-radius: var(--border-radius);
}

body.adwaita *:not(.submenu).button:hover,
body.adwaita .sideloadGameButton:hover,
body.adwaita .titleWrapper .svg-button:hover, 
body.adwaita .titleWrapper .settings-icon:hover {
  background: var(--secondary-background) !important;
  color: var(--button-text);
}