body.Mint_Y_Legacy_Dark_Blue {
    --accent: #596eb5;
    --accent-overlay: #7b8fd7;
    --navbar-accent: #e0e0e0;
    --background: #1d2021;
    --body-background: #2f2f2f;
    --background-darker: var(--body-background);
    --current-background: var(--body-background);
    --navbar-background: #2f2f2f;
    --navbar-active-background: #2f2f2f;
    --gradient-body-background: linear-gradient(
        90deg, var(--background-darker) -32px,
        var(--body-background) 64px,
        var(--body-background) 100%
    );
    --input-background: #353535;
    --modal-background: var(--body-background);
    --modal-border: var(--body-background);
    --success: #98971a;
    --success-hover: #b8bb26;
    --primary: #458588;
    --primary-hover: #83a598;
    --danger: #cc241d;
    --danger-hover: #fb4934;
    --anticheat-denied: #9d0006;
    --anticheat-broken: #af3a03;
    --anticheat-running: #076678;
    --anticheat-supported: #79740e;
    --anticheat-planned: #8f3f71;
    --text-title: #f9f5d7;
    --icons-background: #3c3836;
    --action-icon: #f9f5d7;
    --action-icon-hover: #b16286;
    --action-icon-active: #8ec07c;
    --icon-disabled: #928374;
}
